extends layout
block title
  title ISKA Queensland State Titles
  style
    |.status .panel-title {font-family: 'Oswald', sans-serif; font-size: 72px; font-weight: bold; color: #fff;}
block content
  div.row
    a(href="/TF.html")
      div.col-xs-6.col-md-3
        div.panel.status.panel-danger
          div.panel-heading
            h1.panel-title.text-center TF
  table(class="table table-hover table-striped")
    thead
      tr
        th Event
        th Ring
        th # of Competitors
        th Done
    tbody(id="data")
      each val in events
        tr(id=val.id class=val.done === 0 ? '' : 'info')
          td= val.name
          td
            a(href="/"+val.ring)= val.ring
          td= val.competitors
          if val.done===0
            td No
          else
            td Yes
block script
  script(src="/client.js")
