extends layout
block title
  title CMA
block content
  h1 CMA
  table(class="table table-hover")
    thead
      tr
        th Event
        th Ring
        th # of Competitors
        th Done
    tbody(id="data")
    each val in events
      tr(id=val.id class=val.done === 0 ? '' : 'warning')
        td= val.name
        td= val.ring
        td= val.competitors
        if val.done===0
          td No
        else
          td Yes
    tbody
block script
  script(src="/client.js")
