extends layout
block title
  title ISKA Queensland State Titles
  style
    |.status .panel-title {font-family: 'Oswald', sans-serif; font-size: 72px; font-weight: bold; color: #fff;}
block content
  div.row
    a(href="/TF.html")
      div.col-xs-6.col-md-3
        div.panel.status.panel-danger
          div.panel-heading
            h1.panel-title.text-center TF
    a(href="/PS.html")
      div.col-xs-6.col-md-3
        div.panel.status.panel-warning
          div.panel-heading
            h1.panel-title.text-center PS
    a(href="/SC.html")
      div.col-xs-6.col-md-3
        div.panel.status.panel-success
          div.panel-heading
            h1.panel-title.text-center SC
    a(href="/SU.html")
      div.col-xs-6.col-md-3
        div.panel.status.panel-info
          div.panel-heading
            h1.panel-title.text-center SU
    a(href="/CS.html")
      div.col-xs-6.col-md-3
        div.panel.status.panel-primary
          div.panel-heading
            h1.panel-title.text-center CS
    a(href="/TW.html")
      div.col-xs-6.col-md-3
        div.panel.status.panel-danger
          div.panel-heading
            h1.panel-title.text-center TW
  table(class="table table-hover table-striped")
    thead
      tr
        th Event
        th Ring
        th # of Competitors
        th Event Finished
    tbody(id="data")
      each val in events
        tr(id=val.id class=val.done === 0 ? '' : 'success')
          td= val.name
          td
            a(href="/"+val.ring)= val.ring
          td= val.competitors
          if val.done===0
            td No
          else
            td Yes
block script
  script(src="/js/client.js")
